@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-100:#FFFFFF;
    --primary-200:#e0e0e0;
    --primary-300:#9b9b9b;
    --accent-100:#7F7F7F;
    --accent-200:#ffffff;
    --text-100:#FFFFFF;
    --text-200:#777777;
    --bg-100:#000000;
    --bg-200:#161616;
    --bg-300:#2c2c2c;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:  var(--bg-100);
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 9rem;
}

/*=============HEADER==================*/

header {
    width: 100%;
    height: 200px;
    display: flex;
    position: fixed;
    background: transparent;
    transition: 0.8s ease;
    z-index: 9;
}

header.sticky {
    background: var(--bg-100);
    height: 130px;
}

.navigation-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-menu {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.navigation-menu a{
    z-index: 9;
    color: var(--text-100);
    font-size: 1.3rem;
    text-decoration: none;
    font-style: none;
}

.navigation-menu a:nth-child(3) {
    margin-right: 15%;
}

.navigation-menu a:nth-child(4) {
    margin-left: 15%;
}

.navigation-menu .close-button {
    display: none;
}

.logo {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
}

.logo img {
    width: 100px;
    height: 100px;
}

.shop-menu {
    height: 100%;
    right: 150px;
    margin-top: 5px;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-menu a {
    color: var(--text-100);
    font-size: 2rem;
    text-decoration: none;
    font-style: none;

    position: relative;
    z-index: 9;
}

.shop-menu .bag-count {
    font-size: 1rem;
    background-color: var(--bg-300);
    position: absolute;
    z-index: 9;
    top: -5px;
    right: -12px;
    border: solid 1px;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-menu span {
    width: 1px;
    height: 40px;
    border: var(--text-100) solid 1px;
    margin: 0 30px;
}

.burger-menu-container {
    display: none;
    cursor: pointer;
}

/*=================VIDEO==============*/

.video-container {
    width: 100%;
    height: 100%;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    isolation: isolate;
}

.video-container::after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background: #1616168a;
}

.video-container .socials {
    z-index: 3;
    position: absolute;
    top: 40%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials p {
    color: var(--text-200);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
}

.socials span {
    color: var(--text-200);
    width: 1px;
    height: 65px;
    border: solid 1px;
    margin: 10px 0 20px 0;
}

.socials a {
    color: var(--text-200);
    font-size: 1.7rem;
    text-decoration: none;
    font-style: none;
    margin-bottom: 5px;
    transition: 0.6s ease;
}

.socials a:hover {
    color: var(--text-100);
}

.scroll-down-button {
    width: 30px;
    height: 60px;
    border: var(--text-200) solid 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    bottom: 50px;
    left: calc(50% - 35px);
    z-index: 2;

    animation: float 3s ease infinite;
}

@keyframes float {
    50% {
        transform: translateY(-15px);
    }
}

.scroll-down-button .scroll-icon {
    color: var(--text-200);
    font-size: 1.3rem;
}

.scroll-down-button .scroll-icon-2 {
    margin-bottom: -10px;
}

.scroll-down {
    color: var(--text-200);
    font-size: 1.3rem;
    letter-spacing: 3px;
    position: absolute;
    bottom: 15px;
    left: calc(50% - 90px);
    z-index: 2;
}

/*===========SECTIONS===========*/

section {
    width: 100%;
    color: var(--text-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

section span {
    width: 200px;
    height: 1px;
    border: solid 2px;
    margin-right: 20px;
}

section .title-container {
    font-size: 1.3rem;
    width: 65%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/*===========CATEGORIES===========*/

.categories {
    flex-direction: column;
}

.category-selections {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.category-selections h2 {
    font-weight: 500;
}

.category-selections div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-200);
    transition: 0.3s ease;
}

.category-selections div:hover {
    background-color: var(--bg-300);   
}

.category-selections .apparels,
.category-selections .helmets {
    height: 100%;
    grid-row: span 2;
    flex-direction: column;
    justify-content: center;
}

.category-selections .apparels img {
    width: 100%;
    padding: 50px 10px 0 10px;
}

.category-selections .helmets img  {
    width: 100%;
    padding-top: 50px;
}

.category-selections .gears {
    flex-direction: row;
    grid-column: 3/5;
    height: 250px;
}

.category-selections .gears img{
    width: 50%;
    padding-left: 30px;
}

.category-selections .accessories {
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 3/6;
    height: 250px;
}

.category-selections .accessories h2 {
    margin-left: 13%;
}

.category-selections .accessories img {
    padding-left: 30px;
    width: 35%;
}

.category-selections .others {
    width: 200px;
    height: 250px;
    grid-column: 5/6;
    grid-row: 1;
}

.featured-product {
    width: 65%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: relative;
}

.featured-product .tumbler-container {
    width: 100%;
}

.featured-product img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -150px;
}

.featured-product .container {
    width: 400px;
    height: 350px;
    position: absolute;
    right: 100px;
    top: 25px;

    backdrop-filter: blur(3px);
    background-color: rgba(22, 22, 22, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/*==========BEST SELLERS=============*/

.best-sellers-container {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 15px;
}

.best-sellers-container .product-container {
    background-color: var(--bg-200);
    overflow: hidden;
    transition: 0.3s ease;
}

.best-sellers-container .product-container:hover {
    background-color: var(--bg-300);
}

.best-sellers-container .product-container h3 {
    grid-column: 1/3;
    transition: 0.3s all ease;
}

.best-sellers-container .product-container:hover h3 {
    text-decoration: underline;
}

.best-sellers-container .product-container .img-container {
    width: 300px;
    height: 300px;
    background-color: pink;
    padding: 20px 10px;
}

.best-sellers-container .product-container:nth-child(4) img {
    height: 250px;
    object-fit: contain;
}

.best-sellers-container .product-container img {
    width: 100%;
    height: 300px;
    transition: 0.6s ease;
}

.best-sellers-container .product-container:hover img {
    transform: scale(1.1);
}

.best-sellers-container .product-container .description-container {
    padding: 10px 20px;
    display: grid;
    gap: 20px;
    justify-content: space-evenly;
}

.best-sellers-container .product-container .description-container p {
    font-size: 1.2rem;
    grid-column: 1/2;
}

.best-sellers-container .product-container .description-container button {
    font-size: 1rem;
    color: var(--primary-100);
    background: var(--accent-100);
    padding: 5px 15px;  
    cursor: pointer;
    grid-column: 2/3;
    transition: 0.3s ease;
}

.best-sellers-container .product-container .description-container button:hover {
    background-color: var(--bg-200);
}

/*============SHOP============*/

.shop a {
    width: 65%;
    color: var(--text-100);
    text-decoration: none;
    transition: 0.3s ease;
    text-align: end;
    margin-top: -50px;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

.shop a:hover{
    text-decoration: underline;
}

.shop-container {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.shop-container .product-container {
    background: var(--bg-200);
    flex: 0 0 234px;
}

.shop-container .product-container img {
    width: 100%;
}

.shop-container .product-container .description-container {
    padding: 0 20px 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.shop-container .product-container .description-container button {
    cursor: pointer;
    padding: 3px 5px;
}

/*=============LOGO=============*/

.logo-container div {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}

.logo-container div img{
    max-height: 55px;
    color: var(--bg-300);
    filter: opacity(20%);
    transition: 0.3s ease;
}

.logo-container img:hover {
    filter: opacity(100%);
}

/*=============BLOG=============*/

.read-more-blogs {
    width: 65%;
    color: var(--text-100);
    text-decoration: none;
    transition: 0.3s ease;
    text-align: end;
    margin-top: -40px;
    margin-bottom: 10px;
}

.read-more-blogs:hover{
    text-decoration: underline;
}

.main-blog-container {
    width: 65%;
    display: grid;
    gap: 20px;
}

.main-blog-container .blog-1 {
    background: var(--bg-200);
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-1 .blog-container {
    padding: 50px 70px;
}

.blog-1 .blog-container img {
    width: 100%;
    max-height: 380px;
    filter: grayscale();
    transition: 0.6s ease;
}

.blog-1:hover .blog-container img {
    filter: grayscale(0);
}

.blog-1 .blog-container .description-container h2 {
    padding: 15px 0;
}

.blog-1 .blog-container .description-container p {
    text-align: justify;
    line-height: 25px;
    padding-bottom: 20px;
}

.blog-container .read-more-button {
    text-align: right;
}

.blog-container .read-more-button a {
    color: var(--text-100);
    text-decoration: none;
    transition: 0.3s ease;
}

.blog-1:hover .blog-container a,
.blog-2:hover .blog-container a {
    text-decoration: underline;
}

.main-blog-container .blog-2 {
    background: var(--bg-200);
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-2 .blog-container {
    display: flex;
    flex-direction: row;
    padding: 0px 40px;
}

.blog-2 .img-container {
    width: 100%;
    height: 100%;
}

.blog-2 .img-container img {
    width: 100%;
    max-height: 300px;
    padding-right: 40px;
    object-fit: cover;
    filter: grayscale();
    transition: 0.6s ease;
}

.blog-2:hover .img-container img {
    filter: grayscale(0);
}

.blog-2 .description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blog-2 .blog-container .description-container h3 {
    padding-bottom: 20px;
}

.blog-2 .blog-container .description-container p {
    text-align: justify;
    line-height: 20px;
    margin-bottom: 30px;
}

.blog-image-3 {
    height: 400px;
}

/*============FOOTER========*/

.footer {
    width: 100%;
    height: 55vh;
    margin-top: 100px;
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container .footer-bg {
    width: 100%;
    height: 55vh;
    position: absolute;
}

.footer-container .left-section {
    width: 40%; 
    color: var(--text-200);
    position: relative;
    padding-top: 180px;
}

.left-section .logo {
    outline: red dashed 1px;
}

.footer-container .left-section .logo-footer {
    width: 250px;
    height: 50px;
}

.footer-container .left-section p {
    font-size: 1.1rem;
    line-height: 30px;
    padding: 25px 70px 25px 0;
}

.footer-container .left-section .social-links a{
    color: var(--text-200);
    font-size: 2.2rem;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s ease;
}

.footer-container .left-section .social-links a:hover {
    color: var(--text-100);
}

.footer-container .right-section {
    width: 20%;
    color: var(--text-200);
    position: relative;
    padding-top: 190px;
}

.footer-container .right-section h1 {
    font-size: 2.5rem;
}

.footer-container .right-section .email,
.footer-container .right-section .phone {
    display: flex;
    font-size: 1.2rem;
    margin-top: 25px;
}

.footer-container .right-section span {
    font-size: 1.7rem;
    margin-right: 10px;
}

/*====MEDIA QUERIES=====*/

@media (max-width: 1400px) {
    header .shop-menu {
        right: 50px;
    }
    
    .shop-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        overflow-x: auto;
    }

    .best-sellers-container .product-container {
        height: 100%;
    }

    .best-sellers-container .product-container .img-container {
        width: 100%;
        height: 50%;
    }
    
    .best-sellers-container .product-container .img-container img {
        width: 100%;
        height: 100%;
    }

    .best-sellers-container .product-container .description-container {
        height: 40%;
    }

    .best-sellers-container .product-container .description-container button {
        grid-column-start: 1;
        grid-row: 3/4;
    }
}

@media (max-width: 1100px) {
    .logo img{
        width: 80px;
        height: 80px;
    }

    header {
        height: 180px;
    }

    header.sticky {
        height: 110px;
    }

    .navigation-menu {
        display: none;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 40px;
        position: fixed;
        z-index: 99;
        background-color: var(--bg-300);
        height: 100%;
        width: 45%;
        left: 0;
        top: 0;
    }
    
    .navigation-menu a:nth-child(3),
    .navigation-menu a:nth-child(4) {
        margin: 0;
    }

    .navigation-menu .close-button {
        display: block;
        font-size: 2.3rem;
        color: var(--text-100);
        cursor: pointer;

        position: absolute;
        top: 10%;
        left: 10%;
    }

    .burger-menu-container {
        height: 100%;
        display: block;
        position: absolute;
        left: 8%;
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    .menu-icon {
        display: block;
        color: var(--text-100);
        font-size: 2.8rem;
    }
    
    section .title-container,
    .category-selections,
    .shop-container,
    .shop a,
    .logo-container div,
    .best-sellers-container,
    .read-more-blogs,
    .main-blog-container {
        width: 90%;
    }

    .footer-container .left-section {
        width: 60%;
    } 

    .best-sellers-container .product-container {
        min-width: 100px;
    }
    
    .shop-container .product-container {
        min-width: 250px;
        outline: red dashed 1px;
    }

    .logo-container div img{
        height: 45px;
    }
    
    .best-sellers-container .product-container .img-container {
        max-width: 230px;
        padding: 0;
    }

    .main-blog-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-blog-container .blog-section {
        width: 80%;
        height: 500px;
        display: none;
    }
    
    .main-blog-container .blog-section.active {
        display: flex;
    }

    .blog-section .blog-container {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 0 50px;
    }

    .blog-section .blog-container .img-container {
        width: 100%;
    }

    .blog-container .img-container img{
        width: 100%;
        height: 300px;
        padding: 0;
        object-fit: cover;
    }

    .second-image-blog {
        object-position: 0 -100px;
    }

    .blog-container .description-container {
        width: 100%;
        flex-direction: column;
    }

    .blog-section .blog-container .description-container p {
        line-height: 25px;
    }

    .nav-arrows {
        display: flex;
        font-size: 2.5rem;
        color: var(--text-200);
    }
}

@media (max-width: 900px) {
    
    .best-sellers-container .product-container {
        max-height: 400px;
    }

    .best-sellers-container .product-container .img-container {
        max-height: 225px;
        padding: 0;
    }

    .best-sellers-container img {
        max-width: 200px;
        max-height: 250px;
    }

    .best-sellers-container .product-container .description-container {
        padding: 10px;
        display: grid;
        gap: 10px;
    }

    .best-sellers-container .product-container .description-container h3{
        font-size: 1rem;
    }

    .footer-container {
        height: 750px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    
    .footer-container .footer-bg {
        height: 750px;
    }

    .footer-container .left-section,
    .footer-container .right-section  {
        width: 35%;
        padding: 0;
    }

    .footer-container .left-section p {
        padding: 20px 0;
    }

    .footer-container .right-section .email,
    .footer-container .right-section .phone {
        margin: 0;
    }

    .footer-container .right-section .email {
        margin: 15px 0 15px 0;
    }

}

    
@media (max-width: 800px) {

    .scroll-down-button {
        left: 50%;
    }

    .scroll-down {
        left: 44%;
    }

    .logo-container div {
        flex-wrap: wrap;
        gap: 20px;
    }

    .category-selections {
        display: flex;
        flex-direction: row;
        gap: 7px;
        background-color: pink;
    }

    .category-selections .helmets,
    .category-selections .apparels,
    .category-selections .gears,
    .category-selections .accessories {
        height: 170px;
        width: 170px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: end;
    }

    .category-selections .others {
        height: 170px;
        width: 170px;
        justify-self: center
    }

    /*
    .category-selections .helmets p,
    .category-selections .apparels p,
    .category-selections .gears p,
    .category-selections .accessories p,
    .category-selections .others p {
        
    }*/

    .category-selections h2 {
        font-size: 1.2rem;
        padding-bottom: 10px;
    }

    .category-selections .accessories h2 {
        margin: 0;
    }
    
    .category-selections .helmets img {
        padding: 0;
    }

    
    .category-selections .apparels img {
        width: 90%;
        padding: 0;
    }
    
    .category-selections .gears img {
        width: 100%;
        padding: 0;
    }

    .category-selections .accessories img {
        width: 85%;
        padding: 0;
    }  
}